* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*inicio estilo del body*/

body {
    height: 100%;
    font-family: "Roboto Slab", serif;
    background-color: #313838;
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%2335c1c1' fill-opacity='0.40' fill-rule='evenodd'/%3E%3C/svg%3E");
}


/*fin estilo del body*/


/*inicio header*/

header {
    width: 100%;
    height: auto;
}


/*fin de header*/


/*inicio estilo menu */

.menu ul {
    justify-content: flex-end;
    list-style: none;
    display: flex;
}

.menu li:hover {
    background: rgba(255, 255, 255, 0.3);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    width: 100%;
}


/* fin estilo menu */


/* inicio titulo */

.titulo {
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
    -webkit-text-stroke: 1px #badada;
}


/*fin titulo*/


/*inicio footer*/

footer {
    width: 100%;
    background: #138d75;
}


/*fin de footer*/


/*inicio estilo footer con ul*/

.pie ul {
    list-style: none;
    display: flex;
    justify-content: center;
}


/*fin estilo footer con ul*/


/*inicio estilo footer con ul y li*/

.pie li:hover {
    background: rgba(255, 255, 255, 0.3);
}


/*fin estilo footer con ul y li*/


/*inicio estilo footer con li y a*/

.pie li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}


/*fin estilo footer con li y a*/


/*estilo html contacto*/

.contactoFormulario {
    max-width: 480px;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #5e837f;
    padding-left: 30px;
}

.formH {
    color: rgb(128, 180, 176);
}

input {
    background-color: #fbfbfb;
    width: 405px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #138d75;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.soyHumano {
    display: flex;
    text-align: center;
    position: relative;
}

textarea {
    background-color: #fbfbfb;
    max-width: 405px;
    height: 60px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #138d75;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    width: 100%;
}

label {
    display: block;
}

button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #138d75;
    border-color: #97d848;
    border-style: solid;
    border-radius: 8px;
    width: 100%;
    max-width: 420px;
    cursor: pointer;
}


/*inicio estilo parrafo del boton */

button p {
    color: #fff;
}


/*fin estilo parrafo del boton */


/* inicio estilo h1*/

h1 {
    font-size: 39px;
    text-align: left;
    padding-bottom: 20px;
    color: #138d75;
    -webkit-text-stroke: 0.01px rgb(255, 255, 255);
}


/* fin estilo h1*/


/*inicio estilo h3*/

h3 {
    font-size: 25px;
    padding-bottom: 30px;
    color: #138d75;
}


/*fin estilo h3*/


/*inicio estilo parrafo*/

p {
    font-size: 14px;
    color: #ffffff;
}


/*fin estilo parrafo*/


/*inicio color de letra dentro del imput*/

::-webkit-input-placeholder {
    color: #a8a8a8;
}


/*fin color de letra dentro del imput*/

.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}


/*fin hoja de contacto*/


/*inicio hoja inicio*/


/*inicio class seccion*/

.seccionInicio {
    padding: 280px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/*fin class de seccion*/


/* inicio color, tamaño y lugar del titulo*/

.titulo {
    color: #138d75;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;
}

.subtitulo {
    color: #badbd5;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
}


/* fin color, tamaño y lugar del titulo*/


/*fin hoja inicio*/


/*inicio preguntas frecuentes*/

.preguntasFrecuentes {
    padding: 10px 60px;
}

.pregunta {
    font-size: 35px;
    text-align: center;
    color: #b0ddd5;
    margin: 5px;
}

.parrafo {
    color: #badbd5;
    font-size: 28px;
    text-align: center;
    font-weight: 500;
}


/*fin preguntas frecuentes*/


/*inicio galeria*/

.linea {
    background: #27bda0;
    height: 5px;
    width: 100%;
    display: block;
}

.galeria {
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.galeria>a {
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.galeria img {
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    filter: blur(0.5px);
}

.galeria a:hover img {
    filter: blur(0px);
    transform: rotate(6deg) scale(1.3);
}


/*inicio nuestros productos*/

.nuestrosProductos {
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.nuestrosProductos>div {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.nuestrosProductos img {
    width: 100%;
    vertical-align: top;
    height: 550px;
    object-fit: cover;
    filter: blur(0.5px);
}


/*tabla*/


/* .lista { */

.table {
    color: #fbfbfb;
    padding: 10px 10px;
    width: 100%;
    border: 4px solid #195a4e;
    text-align: center;
}

.caption {
    color: #fbfbfb;
    padding: 10px 0;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}


/* quienes somos  */

.quienesSomos {
    padding: 90px 0;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.parrafoQuienes {
    margin-bottom: 40px;
    margin-top: 40px;
    color: #badbd5;
    text-align: center;
    height: 100%;
    min-height: 195px;
}


/* inicio mobile */

@media screen and (max-width: 767px) {
    header {
        background: #138d75;
    }
    header ul {
        flex-direction: column;
    }
    .menu li {
        width: 100%;
        text-align: center;
    }
    .pie ul {
        flex-direction: column;
        align-items: center;
    }
    footer {
        background: #138d75;
    }
    .seccionInicio {
        padding: 40px 0;
    }
    .pie li a {
        width: 100%;
        text-align: center;
    }
    .pie li {
        width: 100%;
        text-align: center;
    }
    .quienesSomos {
        padding: 40px 0;
    }
    .parrafoQuienes {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .parrafo {
        font-size: 20px;
        margin-bottom: 2rem;
    }
    .pregunta {
        font-size: 30px;
    }
    .contactoFormulario {
        max-width: 300px;
        margin: 5px auto;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    h3 {
        text-align: center;
        padding-bottom: 10px;
    }
    h1 {
        text-align: center;
    }
    textarea {
        max-width: 280px;
        height: 60px;
        margin-bottom: 10px;
    }
    .soyHumano {
        padding: 0px 100px;
    }
    input {
        width: 280px;
        margin-bottom: 10px;
    }
    button {
        width: 280px;
        margin-bottom: 10px;
    }
}


/* fin mobile */


/* inicio tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        background: #138d75;
        text-align: center;
    }
    footer {
        background: #138d75;
    }
}

.titulo {
    color: #138d75;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;
}


/* fin tablet */


/* inicio desktop */

@media screen and (min-width: 1024px) {
    header {
        background: #138d75;
    }
}